.card-stock {
    position: fixed;
    width: 500px;
    border-radius: 6px;
    padding: 0;
    box-shadow: 0 5px 10px #333333;
    background: rgba(255, 255, 255, 1);
}

.card-stock .card-header {
    background: transparent;
    border: none;
}

.card-stock .card-header h5 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 900;
}

.card-stock .card-body .form-group label {
    font-family: Poppins;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    font-size: 12px;
}

.card-stock .card-body .form-group .form-control {
    font-family: Poppins;
    margin-top: 0;
    background: transparent;
    border-radius: 6px;
    border: 1px solid #4d4d4d;
    color: #333333;
    font-size: 12px;
    box-shadow: inset 0 0 0 0 #ddd;
}

.card-stock .card-body .form-group .form-control:focus {
    border: 2px solid rgba(26, 140, 255, 0.9);
}

.card-stock .card-footer {
    border: none;
    background: transparent;
}

.card-stock .card-footer .submit-btn {
    background: rgba(26, 140, 255, 0.9);
    border-radius: 20px;
    border: 2px solid rgba(26, 140, 255, 0.9);
    width: 100px;
    transition: all 0.5s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card-stock .card-footer .preview-btn {
    background: rgba(26, 140, 255, 0.9);
    border-radius: 20px;
    border: 2px solid rgba(26, 140, 255, 0.9);
    width: 100px;
    transition: all 0.5s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card-stock .card-footer .submit-btn:hover,
.card-stock .card-footer .submit-btn:active,
.card-stock .card-footer .preview-btn:hover,
.card-stock .card-footer .preview-btn:active {
    border: 2px solid rgba(26, 140, 255, 0.9);
    background: rgba(26, 140, 255, 0.9);
    width: 100px;
    transition: all 0.5s;
    font-weight: 700;
    transform: translateY(-3px);
}

/*Update Stock Modal Start*/
.stockUpdateModal .modal-content .modal-header, .userUpdateModal .modal-content .modal-header button {
    color: #ffffff;
}

.stockUpdateModal .modal-content {
    background: rgba(0, 0, 0, 0.8);
    border-color: #22b3c8;
    font-weight: 900;
    color: #333333;
    box-shadow: -2px 3px 64px -18px rgba(26, 140, 255, 0.9);
}

.stockUpdateModal .modal-content .modal-body form .form-group .form-control {
    margin-top: 0;
    color: #ddd;
    background: transparent;
    border-radius: 6px;
    border: 1px solid #4d4d4d;
    box-shadow: inset 0 0 0 0 #ddd;
}

.stockUpdateModal .modal-content .modal-body form .form-group .form-control:focus {
    border: 2px solid rgba(26, 140, 255, 0.9);
}

.stockUpdateModal .modal-content .modal-body form .card-footer .save-btn {
    background: rgba(26, 140, 255, 0.9);
    border-radius: 20px;
    border: 2px solid rgba(26, 140, 255, 0.9);
    width: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.stockUpdateModal .modal-content .modal-body form .card-footer .reset-btn {
    background: rgba(26, 140, 255, 0.9);
    border-radius: 20px;
    border: 2px solid rgba(26, 140, 255, 0.9);
    width: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.stockUpdateModal .modal-content .modal-body form .card-footer .reset-btn:hover,
.stockUpdateModal .modal-content .modal-body form .card-footer .reset-btn:active,
.stockUpdateModal .modal-content .modal-body form .card-footer .save-btn:hover,
.stockUpdateModal .modal-content .modal-body form .card-footer .save-btn:active {
    color: rgba(26, 140, 255, 0.9);
    border: 2px solid rgba(26, 140, 255, 0.9);
    font-weight: 700;
    background: transparent;
    transform: translateY(-1px);
}

.stockUpdateModal form label {
    color: #ffffff;
}

/*Update Stock Modal End*/

/*Delete Stock Modal Start*/
.stockDeleteModal .modal-content {
    background: rgba(0, 0, 0, 0.8);
    border-color: #22b3c8;
    font-weight: 900;
    color: #ffffff;
    box-shadow: -2px 3px 64px -18px rgba(26, 140, 255, 0.9);
}

.stockDeleteModal .modal-content .modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

.stockDeleteModal .modal-content .modal-body form .card-footer .save-btn {
    background: rgba(26, 140, 255, 0.9);
    border-radius: 20px;
    border: 2px solid rgba(26, 140, 255, 0.9);
    width: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.stockDeleteModal .modal-content .modal-body form .card-footer .close-btn {
    background: rgba(26, 140, 255, 0.9);
    border-radius: 20px;
    border: 2px solid rgba(26, 140, 255, 0.9);
    width: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.stockDeleteModal .modal-content .modal-body form .card-footer .close-btn:hover,
.stockDeleteModal .modal-content .modal-body form .card-footer .close-btn:active,
.stockDeleteModal .modal-content .modal-body form .card-footer .save-btn:hover,
.stockDeleteModal .modal-content .modal-body form .card-footer .save-btn:active {
    color: rgba(26, 140, 255, 0.9);
    border: 2px solid rgba(26, 140, 255, 0.9);
    font-weight: 700;
    background: transparent;
    transform: translateY(-1px);
}

.stockDeleteModal form label {
    color: #ffffff;
}

/*Delete Stock Modal End*/