/*---Topbar---*/

.topbar {
    height: 4.375rem;
    /*background: rgba(0, 0, 0,0);*/
    /*background: rgba(0,0,0,1);*/
}

nav {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .8);
}

.senz {
    max-height: 30px;
    margin-left: 6px;
    background: transparent;
}

.logo-Text {
    max-height: 30px;
    margin-left: 0px;
    font-size: 19px;
    font-weight: bold;
    border: 1px solid black;
    background: teal;
    color: white;
    padding: 10px;
}

.navbar-search {
    padding-left: 11rem;
    width: 35rem;

    input {
        font-size: 0.85rem;
        height: auto;
    }
}

.nav-item {
    .nav-link {
        height: 4.375rem;
        display: flex;
        align-items: center;
        padding: 0 0.75rem;
    }
}

.nav-item .top-alert {
    margin-top: 5px;
    color: #000;
    text-height: auto;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #dddede;
}

.nav-item .top-alert:hover {
    background: #d6d6d6;
}

.nav-item .top-alert:active {
    background: #cdecce;
    color: #069d3f;
}

.topbar-divider {
    width: 0;
    border-right: 0.9px solid;
    height: 1.7rem;
    margin: auto 1rem;
}

.img-profile {
    width: 40px;
    height: 40px;
}

.badge-counter {
    position: absolute;
    transform: scale(0.8);
    transform-origin: top right;
    right: -.2rem;
    margin-top: -.65rem;
}

.nav-item .dropdown-menu a {
    color: rgba(0, 0, 0, 0.7);
}

.nav-item .dropdown-menu a:hover,
.nav-item .dropdown-menu a:active {
    color: rgba(0, 0, 0, 0.9);
    background: rgba(214, 224, 245, 0.3);
    display: block;
    width: 100%;
    border-radius: 5px;
}

.dark-mode-btn input[type="radio"] {
    display: none;
}

.dark-mode-btn label {
    display: flex;
    width: 300px;
    align-items: center;
    /*    border: 1px solid rgba(0, 204, 0,0.8);*/
    border-radius: 50px;
    margin: 10px 0;
    padding-left: 20px;
    cursor: default;
    transition: all 0.3s ease;
}

.dark-mode-btn label .dot {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    position: relative;
    border: 3px solid rgba(0, 204, 0, 0.8);
}

.dark-mode-btn .option-1 .dot {
    margin-left: 205px;
}

.dark-mode-btn .option-2 .dot {
    margin-left: 190px;
}

.dark-mode-btn .option-3 .dot {
    margin-left: 204px;
}

.dark-mode-btn label .dot::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

#option-1:checked~.option-1 .dot,
#option-2:checked~.option-2 .dot,
#option-3:checked~.option-3 .dot {
    background: rgba(255, 255, 255, 0.8);
    border: 3px solid transparent;
}

#option-1:checked~.option-1 .dot::before,
#option-2:checked~.option-2 .dot::before,
#option-3:checked~.option-3 .dot::before {
    background: rgba(0, 204, 0, 0.8);
    transform: translate(-50%, -50%) scale(1);
}

.dark-mode-btn label .text {
    color: #333;
    font-size: 18px;
    font-weight: 400;
    transition: color 0.3s ease;
}

#option-1:checked~.option-1,
#option-2:checked~.option-2,
#option-3:checked~.option-3 {
    background: rgba(0, 204, 0, 0.8);
    border-color: rgba(0, 204, 0, 0.8);
}

#option-1:checked~.option-1 .text,
#option-2:checked~.option-2 .text,
#option-3:checked~.option-3 .text {
    color: #ffffff;
}